@import "utils/reset";
@import "utils/variables";

@import "components/body";
@import "components/page-header";
@import "components/hero";
@import "components/hero-portfolio";
@import "components/buttons-portfolio";
@import "components/projects-portfolio";
@import "components/benefits";
@import "components/activity";
@import "components/team";
@import "components/clients";
@import "components/page-footer";
@import "components/modal-window";
@import "components/content-modal-window";
