.benefits {
  padding-top: 94px;
}

.benefits__container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.benefits__visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits__set {
  display: flex;
}

.benefits__item {
  width: 270px;
  list-style: none;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  left: 215px;
  top: 774px;

  background: #f5f4fa;
  border-radius: 4px;
}

.benefits__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: $primaryFontWeight;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits__text {
  margin: 0;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
