.buttons-set {
  display: flex;
  list-style: none;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 330px;
    row-gap: 15px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .buttons-set__item:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .buttons-set__item:not(:last-child) {
    margin-right: 8px;
  }
}

.buttons-set__btn {
  background-color: #f5f4fa;
  font-weight: $secondFontWeight;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0 solid transparent;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: inherit;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $primaryColor;
    background-color: $accentColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
