.hero {
  color: $primaryColor;
  text-align: center;
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/index/working.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.hero__title {
  padding-top: 200px;
  margin-top: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero__button {
  padding: 10px 32px;
  border-radius: 4px;
  margin-top: 30px;
  border: 0 solid transparent;
  background-color: $accentColor;
  color: $primaryColor;
  font-family: inherit;
  font-weight: $primaryFontWeight;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
