.page-header {
  background-color: $primaryColor;
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header__nav {
  align-items: center;
}

.page-header__box {
  display: flex;
}

.logo {
  display: flex;
}

.logo__link {
  display: flex;
  font-family: Raleway;
  font-weight: $primaryFontWeight;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  align-items: center;
  text-decoration: none;
}

.logo__text-web {
  color: $accentColor;
}

.logo__text-studio {
  color: #000000;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  list-style: none;
}

.site-nav__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
}

.site-nav__link {
  position: relative;

  font-weight: $secondFontWeight;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  vertical-align: middle;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--active {
  color: $accentColor;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;

    background-color: $accentColor;
    border-radius: 2px;
  }
}

.site-contacts {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
  list-style: none;
}

.site-contacts__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.site-contacts__link {
  font-weight: $secondFontWeight;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.site-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}
