.projects-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-set__item {
  list-style: none;
}

.projects-set__link {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-set__img {
  position: relative;
  overflow: hidden;

  &:hover::after {
    opacity: 1;
  }
}

.projects-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .projects-set__link:hover &,
  .projects-set__link:focus & {
    transform: scale(1);
  }
}

.projects-overlay__description-text {
  padding: 63px 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $primaryColor;
}

.name-project {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.name-project__title {
  color: #212121;
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: $primaryFontWeight;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.name-project__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
